<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask-File Drag Drop System</title>
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
</head>
<body>
	<div style="color:blue;text-align:center;border: 4px solid #0087F7; width: 80%;"> 
	File drag & Drop System with flask dropzone </div>
  <div style="width: 50%;">
    {{ dropzone.create(action='read_plate') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
  </div>
</body>
</html>
